In [1]:
import pandas as pd

In [8]:
full_row = pd.set_option('display.max_columns', None)  # Display all columns
pd.set_option('display.max_colwidth', None)  # Display full contents of each cell

In [2]:
!pwd

/home/ubuntu/mlops-mara-sample-public/utils

# Problem 2

In [3]:
path_train_prob_2 = "../data/raw_data/phase-1/prob-2/raw_train.parquet"

In [5]:
train_2 = pd.read_parquet(path_train_prob_2)

In [12]:
path_train_x_prob_2 = "/home/ubuntu/mlops-mara-sample-public/data/train_data/phase-1/prob-2/train_x.parquet"

In [13]:
train_x_2 = pd.read_parquet(path_train_x_prob_2)

In [16]:
num_cols = [
        "feature2",
        "feature5",
        "feature13",
        "feature18"
    ]
cat_cols = [
        "feature1",
        "feature3",
        "feature4",
        "feature6",
        "feature7",
        "feature8",
        "feature9",
        "feature10",
        "feature11",
        "feature12",
        "feature14",
        "feature15",
        "feature16",
        "feature17",
        "feature19",
        "feature20"
    ]

In [17]:
def statistic_num(df, num_cols):
    a = df[num_cols].astype(float).isna().agg(['sum', 'mean']).T
    a = a.rename(columns={'sum': 'Missing', 'mean': '% Missing'}).T
    b = df[num_cols].astype(float).describe(include = "all")
    res = pd.concat([a,b]).T
    return res

In [18]:
def statistic_cat(df, cat_cols):
    a = df[cat_cols].astype(str).isna().agg(['sum', 'mean']).T
    a = a.rename(columns={'sum': 'Missing', 'mean': '% Missing'}).T
    b = df[cat_cols].astype(str).describe(include = "all")
    res = pd.concat([a,b]).T
    return res

In [19]:
statistic_num(train_2, num_cols)

,Missing,% Missing,count,mean,std,min,25%,50%,75%,max
feature2,0.0,0.0,60000.0,20.862730,12.083299,0.648717,11.959326,18.087706,24.903486,73.201640
feature5,0.0,0.0,60000.0,3207.836096,2792.931181,-5997.669542,1388.207670,2273.676224,3813.300359,19046.986011
feature13,0.0,0.0,60000.0,35.641207,11.261281,17.673884,27.185828,33.135070,40.958943,82.179053
feature18,0.0,0.0,60000.0,1.159317,0.365974,1.000000,1.000000,1.000000,1.000000,2.000000

In [20]:
statistic_cat(train_2, cat_cols)

          Missing % Missing  count unique   top   freq
feature1      0.0       0.0  60000      4    V3  23659
feature3      0.0       0.0  60000      5    V2  31782
feature4      0.0       0.0  60000     11    V3  16634
feature6      0.0       0.0  60000      5    V0  35846
feature7      0.0       0.0  60000      5    V2  20178
feature8      0.0       0.0  60000      4   4.0  27876
feature9      0.0       0.0  60000      5    V2  32919
feature10     0.0       0.0  60000      3    V0  54407
feature11     0.0       0.0  60000      4   4.0  24614
feature12     0.0       0.0  60000      4    V2  19540
feature14     0.0       0.0  60000      3  none  48517
feature15     0.0       0.0  60000      3    V1  42275
feature16     0.0       0.0  60000      4   1.0  37794
feature17     0.0       0.0  60000      4    V2  37390
feature19     0.0       0.0  60000      2  none  35672
feature20     0.0       0.0  60000      2   yes  57645